<v-app id="addApplication8">
    <v-container fluid>
        <v-form ref="form" v-model="valid" lazy-validation>

            <v-layout row wrap text-center>

                <v-flex xs12 sm12 md12 lg12 xl6 >

                    <h2><u>DECLARATION</u>

                    </h2>
                </v-flex>
            </v-layout>
            <br>
            <br>
            <br>
            <v-layout row wrap>

                <v-flex xs12 sm12 md12 lg12 xl6 text-center>

                    <p>I certify that the information provided is correct to the best of my knowledge and as per records available
                        with the University and/or documents enclosed along with the duly filled PBAS proforma.</p>
                </v-flex>
            </v-layout>

            <v-layout>            
                <v-flex xs12 sm3 md3 lg12 xl6>
                    <v-menu
                        v-model="userData.menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                        >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="userData.date"
                                label="Date"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                                ></v-text-field>
                        </template>
                        <v-date-picker v-model="userData.date"  @input="userData.menu = false"></v-date-picker>
                    </v-menu>              
                    <v-spacer></v-spacer>
                </v-flex > 
                <br>
                <br>
                <v-flex  xs12 sm6 md6 lg12 xl6></v-flex>
                <v-flex  xs12 sm3 md3 lg12 xl6>
                    <v-text-field placeholder="Signature of the faculty member " v-model="userData.cop_ot" :rules="[rules.required,rules.length]"></v-text-field>
                </v-flex>
            </v-layout>

            <v-layout>
                <v-flex xs12 sm3 md3 lg12 xl6 >
                    <v-text-field placeholder=" Place" v-model="userData.place" :rules="[rules.required]"></v-text-field>

                </v-flex>
                <v-flex  xs12 sm6 md6 lg12 xl6></v-flex>
                <br>
                <br>

                <v-flex  xs12 sm3 md3 lg12 xl6 mt-5>
                    <v-text-field placeholder="Signature of Chairperson of the Centre
                                  (with Rubber Stamp) " v-model="userData.cop_ota" :rules="[rules.required]"></v-text-field>
                </v-flex>

            </v-layout>
            <v-layout mt-5>

                <v-flex  xs12 sm9 md9 lg12 xl6></v-flex>
                <v-flex  xs12 sm3 md3 lg12 xl6>
                    <v-text-field placeholder="Dean of the School(with Rubber Stamp) " v-model="userData.cop_otb" :rules="[rules.required]"></v-text-field>
                </v-flex>   

            </v-layout>
            <br>
            <br>
            <p><b>NOTE: The Annual Self-Assessment proforma duly filled along with all enclosures, submitted for
                    promotions under CAS will be verified by the University and information filed with the
                    Internal Quality Assurance Cell (IQAC).</b></p>
            <div th:replace="fragments/formelements.html :: footerbuttons(previous='HandlePrevious', saveasDraft='saveasDraft',HandleSubmit='HandleSubmit')"></div>

        </v-form>
    </v-container>


</v-app>


<script th:inline="javascript">
    var myObject = new Vue({
        el: "#addApplication8",
        data: {
            valid: true,
            date: '',
            cop_ot: '',
            cop_ota: '',
            rules: {
                required: v => !!v || 'Field is required',
                between: v => (v && v.length <= 50 && v.length >= 10) || 'Length must be between 10-50 characters',
                length: v => (v && v.length <= 50) || 'Name must be less than 50 characters',
                number: v => /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/.test(v) || 'Only Numbers',
                yeari: v => /^(19|20)\d{2}$/.test(v) || 'Invalid Year',
                yearr: v => !!v || 'Year is required',
                yeard: v => (v && v.length === 4) || 'Year must be 4 digits',
                email: v => /.+@.+/.test(v) || 'E-mail must be valid',
                lengthp: v => (v && v.length <= 10) || 'Number must be 10 digits',

            },
//              fieldRules: [
//                v => !!v || 'Field is required'],
//            nameRules: [
//                v => !!v || 'Field is required',
//                v => (v && v.length <= 50) || 'Name must be less than 50 characters'
//            ],
//            emailRules: [
//                v => !!v || 'Field is required',
//                v => /.+@.+/.test(v) || 'E-mail must be valid'
//            ],
//              numberRules: [
//                v => !!v || 'Field is required',
//                v => /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/.test(v) || 'Only Numbers'
//            ],
            currentId: /*[[${currentId}]]*/ '',
            nextId: /*[[${next}]]*/ '',
            prevId: /*[[${previous}]]*/ '',
            id: 0,

            userData: {
                date: '',
                menu: false,
                place: '',
                cop_otb: '',
                cop_ota: '',
                cop_ot: '',
            }
        },
        methods: {
            addRow() {

            },

            deleteRow() {
                var myData = this.userData.oth_ret;
                if (myData.length > 1) {
                    this.userData.oth_ret.splice(-1, 1)
                }
            },
            check() {
                console.log('data==>>');
                var myData = this.inputs;
                for (var i in myData) {
                    console.log(myData[i].one);
                }
            },
            validate() {
                if (this.$refs.form.validate()) {
                    this.snackbar = true
                }
            },
            reset() {
                this.$refs.form.reset()
            },

            submit() {
                this.sumbit()
            },
            saveasDraft() {
                var currentId = removeQuot(this.currentId);
                var nextId = removeQuot(this.nextId);

                axios.post('/saveData',
                        {
                            "id": currentId,
                            "savedId": this.id,
                            "userData": this.userData
                        })

                        .then(response => {
//                            alert("Response==>>" + response);
//                            alert(nextId);
                            if (nextId !== null) {
                                loadForm("707902c6-4a21-11e9-aaf4-8c89a53bcce4");
                            }
                        })
                        .catch(e => {
                            alert("Error");
                        })

            },
            HandleSubmit() {
                var currentId = removeQuot(this.currentId);
                var nextId = removeQuot(this.nextId);
//                alert("currentId==>>" + currentId);
//                alert("nextId==>>" + nextId);
//                alert("savedID==>>" + this.id);
                axios.post('/saveData',
                        {
                            "id": currentId,
                            "savedId": this.id,
                            "userData": this.userData
                        })
                        .then(response => {
//                            alert("Response==>>" + response);
//                            alert(nextId);
                            if (nextId !== null) {
                                loadForm(nextId);
                            }
                        })
                        .catch(e => {
                            alert("Error");
                        })
            },
            HandlePrevious() {
                var currentId = removeQuot(this.currentId);
                var prevId = removeQuot(this.prevId);
                if (prevId !== null) {
                    loadForm(prevId);
                }
            }

        },
        created() {
            var currentId = removeQuot(this.currentId);
            axios.get('/findById?id=' + currentId)
                    .then(response => {
                        if (response.data != '') {
                            this.userData = response.data.dt;
                            this.id = response.data.id;
                        }


////                     
//                        alert("Response==>>" + response.data);
//                        alert("Response==>>" + response.data.id);
                    })
                    .catch(e => {
                        alert("Error" + e);
                    })
        }
    });

</script>

