
<div id="addApplication1">
    <el-form ref="form" :model="form" :label-position="labelPosition" label-width="200px" size="mini">

        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6" > 
                <el-form-item label="From(Stage)" prop="name">
                    <el-input  v-model="form.name1"></el-input>
                </el-form-item></el-col>
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="To(Stage)" prop="name">
                    <el-input v-model="form.name2"></el-input>
                </el-form-item></el-col>
        </el-row>



        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="FROM">
                    <el-date-picker type="date" placeholder="FROM" v-model="form.from" style="width: 100%;"></el-date-picker>                             
                </el-form-item>
            </el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="TO">
                    <el-date-picker type="date" placeholder="TO" v-model="form.to" style="width: 100%;"></el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6"> 

                <el-form-item label="IN THE PRESENT PAY BAND OF RS. _" prop="name" >
                    <el-input v-model="form.presentpay" ></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="WITH AGP OF RS." prop="name">
                    <el-input v-model="form.withagp"></el-input>
                </el-form-item></el-col>
        </el-row>


        <h4><u>PART A: GENERAL INFORMATION AND ACADEMIC BACKGROUND
            </u>
        </h4>
        <br>
        <br>



        </el-row>
        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6" > 

                <el-form-item label="Name of the faculty Member" prop="name"   :rules="rules.name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Employee Id"  prop="name" :rules="rules.name">
                    <el-input v-model="form.employeeid"></el-input>
                </el-form-item></el-col>
        </el-row>  




        <el-form-item label="School/Centre/ SpecialCentre" :rules="rules.name">
            <el-input type="textarea" v-model="form.school"></el-input>
        </el-form-item>
        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Present Designation" prop="name" :rules="rules.name">
                    <el-input v-model="form.presentdesignation"></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Academic Grade Pay Rs." prop="academicgrade" :rules="rules.name">
                    <el-input v-model="form.academicgrade"></el-input>
                </el-form-item></el-col>
        </el-row>


        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Date of initial joining">
                    <el-date-picker type="date" placeholder="Date of initial joining" v-model="form.joindate" style="width: 100%;"></el-date-picker>                             
                </el-form-item>
            </el-col>
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Name of post at joining" prop="name">
                    <el-input v-model="form.joining"></el-input>
                </el-form-item></el-col>

        </el-row>
        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Date of eligibility from (present post)">
                    <el-date-picker type="date" placeholder="Date of eligibility from (present post)" v-model="form.date_eligible" style="width: 100%;"></el-date-picker>                             
                </el-form-item>
            </el-col>
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="(Stage ____)" prop="name">
                    <el-input v-model="form.stage"></el-input>
                </el-form-item></el-col>

        </el-row>


        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="(Stage____) from AGP of Rs." prop="name">
                    <el-input v-model="form.stage_agp"></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="to AGP of Rs." prop="name">
                    <el-input v-model="form.toagp"></el-input>
                </el-form-item></el-col>
        </el-row>


        <el-form-item label="Area of Specialization">
            <el-input type="textfield" v-model="form.area_ofspecialization"></el-input>
        </el-form-item>



        <el-form-item label="Address for Correspondence">
            <el-input type="textarea" v-model="form.address_forcorrespondence"></el-input>
        </el-form-item>

        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Tel: No. (Office)" prop="name">
                    <el-input v-model="form.telno"></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="(Residence)" prop="name">
                    <el-input v-model="form.residence"></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="(Mobile)" prop="name">
                    <el-input v-model="form.mobile"></el-input>
                </el-form-item></el-col>
        </el-row>

        <el-form-item label="Email">
            <el-input type="textfield" v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item label="(a) Ph.D. (Please indicate date/year of award)">
            <el-date-picker type="date" placeholder="(a) Ph.D. (Please indicate date/year of award)" v-model="form.date_ofphd" style="width: 100%;"></el-date-picker>                             
        </el-form-item>
        <el-form-item label="Title of Ph.D. Thesis " prop="name">
            <el-input v-model="form.phdtitle"></el-input>
        </el-form-item>

        <el-form-item label="(b)M.Phil/M.Litt/M.Tech (date of award)">
            <el-date-picker type="date" placeholder="(b) M.Phil/M.Litt/M.Tech (date of award)" v-model="form.date_ofaward" style="width: 100%;"></el-date-picker>                             
        </el-form-item>
        <el-form-item label="(Subject of M.Phil/M.Litt/M.Tech)" prop="name">
            <el-input v-model="form.subject"></el-input>
        </el-form-item>


        <el-row :gutter="10">
            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="M.A./M.Sc/M.Tech (Subject)" prop="name" >
                    <el-input  v-model="form.subject_m"></el-input>
                </el-form-item></el-col>

            <el-col :xs="8" :sm="12" :md="12" :lg="12" :xl="6">
                <el-form-item label="Year of passing" prop="name">
                    <el-input v-model="form.year_ofpassing"></el-input>
                </el-form-item></el-col>
        </el-row>


        <!--                <v-form ref="form" v-model="valid" lazy-validation>
                            <v-flex xs12 sm12 md12 lg12 xl12>-->

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sl.
                        No</th>
                    <th>Name of Course attended</th>
                    <th>Name of Institution Organising the Course</th>
                    <th colspan="2" xs12 sm12 md12 lg12 xl12>Date</th>
                    <th>Duration(No. of Weeks/Week)</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(input, index) in form.ref_course" :key="index">
                    <td>
                        {{index+1}}  
                    </td>
                    <td>
            <el-input  placeholder="Name of Course" v-model="input.course_name"></el-input>
            </td>
            <td>
            <el-input placeholder="Name of Institution"   v-model="input.inst_name"></el-input>
            </td>

            <td>         

            <el-date-picker type="date" placeholder="From" v-model="input.from_date" style="width: 100%;"></el-date-picker>                             

            </td>
            <td>         
            <el-date-picker type="date" placeholder="To" v-model="input.to_date" style="width: 100%;"></el-date-picker>                             
            </td>
            <td>
            <el-input placeholder="Duration"   v-model="input. duration"></el-input>
            </td>

            </tr>


            </tbody>
        </table>
        <v-btn icon color="green" @click="addRow">
            <v-icon color="white">add</v-icon>
        </v-btn>
        <v-btn icon color="red" @click="deleteRow">
            <v-icon color="white">remove</v-icon>
        </v-btn>
        <!--                    </v-flex>
                            <br>
                            <br>
                            <br>
                            <div th:replace="fragments/formelements.html :: footerbuttons(previous='', saveasDraft='saveasDraft',HandleSubmit='HandleSubmit')"></div>
                        </v-form>-->



        <!--                   
                        <el-form-item label="Activity zone">
                            <el-select v-model="form.region" placeholder="please select your zone">
                                <el-option label="Zone one" value="shanghai"></el-option>
                                <el-option label="Zone two" value="beijing"></el-option>
                            </el-select>-->
        <div th:replace="fragments/formelements.html :: footerbuttons(previous='', saveasDraft='saveasDraft',HandleSubmit='HandleSubmit')"></div>

    </el-form>
</div>
<script th:inline="javascript">

    var myObject = new Vue({
        el: "#addApplication1",
        data: {
            labelPosition: 'top',
            currentId: /*[[${currentId}]]*/ '',
            nextId: /*[[${next}]]*/ '',
            prevId: /*[[${previous}]]*/ '',
            id: 0,
            valid: true,
            form: {
                name1: '',
                name2: '',
                from: '',
                to: '',
                presentpay: '',
                withagp: '',
                name: "",
                employeeid: "",
                school: "",
                presentdesignation: "",
                academicgrade: "",
                joindate: '',
                joining: '',
                date_eligible: '',
                stage: '',
                stage_agp: '',
                toagp: '',
                area_ofspecialization: '',
                address_forcorrespondence: '',
                telno: '',
                residence: '',
                mobile: '',
                email: '',
                phd: '',
                phdtitle: '',
                dateofaward: '',
                subject: '',
                subject_m: '',
                year_ofpassing: '',
                date_ofaward: '',
                date_ofphd: '',
                date_table: '',
                ref_course: [{
                        course_name: '',
                        inst_name: '',
                        from_date: '',
                        to_date: '',
                        duration: '',
                    }],
            },
            rules: {
               name: [
            { required: true, message: 'Please input Activity name', trigger: 'key', "inline-message": true },
            { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'key' }
          ]
            },
            
            
            
        },
        methods: {
            addRow() {
                this.form.ref_course.push({
                    course_name: '',
                    inst_name: '',
                    from_date: '',
                    to_date: '',
                    duration: '',
                    menu: false,
                    menu1: false,
                })
            },
            deleteRow() {
                var myData = this.form.ref_course;
                if (myData.length > 1) {
                    this.form.ref_course.splice(-1, 1)
                }
            },
            saveasDraft() {
                var currentId = removeQuot(this.currentId);
                var nextId = removeQuot(this.nextId);

                axios.post('/saveData',
                        {
                            "id": currentId,
                            "savedId": this.id,
                            "userData": this.form
                        })

                        .then(response => {
//                            alert("Response==>>" + response);
//                            alert(nextId);
                            if (nextId !== null) {
                                loadForm("707902c6-4a21-11e9-aaf4-8c89a53bcce4");
                            }
                        })
                        .catch(e => {
                            alert("Error");
                        })

            },
            HandleSubmit() {
                var currentId = removeQuot(this.currentId);
                var nextId = removeQuot(this.nextId);
//                alert("currentId==>>" + currentId);
//                alert("nextId==>>" + nextId);
                axios.post('/saveData',
                        {
                            "id": currentId,
                            "savedId": this.id,
                            "userData": this.form
                        })
                        .then(response => {
//                            alert("Response==>>" + response);
//                            alert(nextId);
                            if (nextId !== null) {
                                loadForm(nextId);
                            }
                        })
                        .catch(e => {
                            alert("Error");
                        })
            }


        },
        created() {
            var currentId = removeQuot(this.currentId);
            axios.get('/findById?id=' + currentId)
                    .then(response => {
                        if (response.data != '') {
                            this.form = response.data.dt;
                            this.id = response.data.id;
                        }
                    })
                    .catch(e => {
                        alert("Error" + e);
                    })
        }
    })
</script>
