<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="aaaaaaaaaaaaaaaaaaaaaaa">
            <v-container grid-list-md th:fragment="mainpage">
                <v-layout wrap>
                    <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <script>
            var aaaaaaaaaaaaaaaaaaaaaaa = new Vue({
                el: "#aaaaaaaaaaaaaaaaaaaaaaa",
                data: {
                    name: '',
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                    protein: 0
                }

            });
        </script>
    </body>
</html>