


<div id="erpViewPage">

    <div>
        <v-spacer></v-spacer>
        <v-card
            color="grey lighten-4"
            flat
            height="50px"
            tile
            >
            <v-toolbar dense>
                <v-app-bar-nav-icon></v-app-bar-nav-icon>
                <v-toolbar-title>{{title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn color="primary"    class="flat"  @Click="Loadform"  ><v-icon>mdi-icon</v-icon> New Item</v-btn>
            </v-toolbar>
        </v-card>

        <v-card data-th-replace="fragments/formelements.html :: dataTablesList()">
        </v-card>


    </div>

</div>






<script>
    new Vue({
        el: "#erpViewPage",
        vuetify: new Vuetify(),
        data: {
            tab: null,
            tabs: ['Instruction', 'About', 'Contact'],
            tabAbout: 'About Page',
            tabContact: 'Contact Page',
            search: '',
            headers: [],
            values: [],
            pagination: {
                rowsPerPage: 10
            },
            title: /*[[${session.title}]]*/ '',

        },
        created() {     //   same as appllicationHome
            axios.get(`/findByIdListing`)
                    .then(response => {
                        this.limit = response.data.header.length - 1;
                        this.headers = response.data.header;
                        this.values = response.data.values;
                    }).catch(e => {
                console.log("Error " + e);
            })
        },

        methods: {
            Loadform() {
                ApplyForm(0);
            },

            editItem(item) {
                this.editedIndex = this.values.indexOf(item);
                this.editedItem = Object.assign({}, item);
                ApplyForm(item);

            },
            deleteItem(item, index) {
                confirm('Are you sure you want to delete this item?') && this.values.splice(index, 1);
                axios.post('/deleteIdListing?id=' + item)
                        .then(response => {
                        }).catch(e => {
                    console.log("Error" + e);
                })
            },
            saveasDraft() {},

        },

    })


</script>


<!--  <v-spacer></v-spacer>
        <v-tabs
            v-model="tab"
            background-color="deep-purple accent-4"
            class="elevation-2"
            dark
            >
            <v-tab
                v-for="i in tabs"
                :key="i"
                :href="`#tab-${i}`"
                >
                {{ i }}
            </v-tab>
 
            <v-tab-item
                v-for="i in tabs"
                :key="i"
                :value="'tab-' + i"
                >
                <v-card
                    flat
                    tile
                    >
                    <v-card-text   >{{ i }}</v-card-text>

                </v-card>
            </v-tab-item>

        </v-tabs>-->
